
{% block title %} {{ title }} {% endblock %}
{% block content %}
<div class="container">
    {% for item in items %}
        <div class="item__card">
            <p class="item__name">{{ item.name }}</p>
            <p class="item__description">{{ item.description }}</p>
            {% if 'Euro' in item.currency %}
            <p class="item__price">€{{ item.price }}</p>
            {% else %}
            <p class="item__price">${{ item.price }}</p>
            {% endif %}
            </div>
        </div>
      </a>
    {% endfor %}
    <div>
</div>
</div>
{% endblock %}
